main{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
}

h1{
    display: flex;
    justify-content: center;
    background-color: #003049;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 20pt;;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #003049;
    padding: 15px;
}

.purpose h2{
    display: flex;
    justify-content: center;
}

.scenarios h2{
    display: flex;
    justify-content: center;
}

.purpose{
    padding-top: 1rem;
    background-color: #669bbc;
}

.scenarios{
    padding-top: 1rem;
    background-color: #669bbc;
}

.schema h2, .typography h2{
    display: flex;
    justify-content: center;
}

.schema, .typography{
    background-color: #669bbc;
}