main{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
}

h1{
    display: flex;
    justify-content: center;
    background-color: #003049;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 20pt;;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #003049;
    padding: 15px;
}

.about h2{
    display: flex;
    justify-content: center;
}

.mission h2{
    display: flex;
    justify-content: center;
}

.about{
    padding-top: 1rem;
    background-color: #669bbc;
}

.mission{
    padding-top: 1rem;
    background-color: #669bbc;
}

.books h2, .join h2{
    display: flex;
    justify-content: center;
}

.books, .join{
    margin-top: 60px;
    background-color: #669bbc;
}

.background img{
    display: block;
    opacity: .6;
    width: 100%;
}

form{
    display: grid;
    background-color: #4169e1;
    opacity: .9;
    width: 500px;
    margin-left: 55%;
    height: 400px;
}

form h2{
    display: flex;
    justify-content: center;
}

form label{
    font-size: 20pt;
}

.profile{
    background-color: #4169e1;
    opacity: .9;
}