*{
    box-sizing: border-box;
}

main{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
}

h1{
    display: flex;
    justify-content: center;
    background-color: #003049;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 20pt;;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #003049;
    padding: 15px;
}

.about h2{
    display: flex;
    justify-content: center;
}

.mission h2{
    display: flex;
    justify-content: center;
}

.about{
    padding-top: 1rem;
    background-color: #669bbc;
}

.mission{
    padding-top: 1rem;
    background-color: #669bbc;
}

.books h2, .join h2{
    display: flex;
    justify-content: center;
}

.books, .join{
    margin-top: 60px;
    background-color: #669bbc;
}

.background img{
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: .6;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

.background{
    width: 100%;
    overflow: hidden;
}

form{
    display: grid;
    background-color: #4169e1;
    opacity: .9;
    width: 90%;
    max-width: 500px;
    margin: 2rem auto;
    height: auto;
    padding: 20px;
}

form h2{
    display: flex;
    justify-content: center;
}

form label{
    font-size: 20pt;
}

.profile{
    background-color: #4169e1;
    opacity: .9;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

.book{
    background-color: #4169e1;
    opacity: .9;
}

form input[type="text"]
form input[type="email"]

form textarea {
    padding: 15px;
    font-size: 1.2rem;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

form textarea {
    min-height: 150px;
    resize: vertical;
}