main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.card{
    position: relative;
    display: grid;
    width: 75%;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid black;
    background-color: cornsilk;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: darkgray;
    font-size: 16pt;
    padding: 10px;
}

section img{
    display: grid;
    width: 300px;
    grid-column: 2/3;
    grid-row: 2;
    float: right;
}

h1{
    display: flex;
    width: 100%;
    justify-content: center;
}

.card h2{
    font-size: 20pt;
    font: bold;
    grid-column: 1 / 3;
    justify-self: center;
}

.card p{
    width: 25%;
    padding: 20px;
    grid-column: 1/3;
    grid-row: 2;
    text-wrap: wrap;
}

header{
    width: 100%;
    display: block;
    text-align: center;
    font-weight: 800;
    background-color: cornflowerblue;
    font-size: 30pt;
}

.format{
    padding-left: 25%;
}

footer{
    justify-items: center;
}

nav a:hover{
    text-decoration: overline;
}

.active{
    color: black;
}
