@media screen and (min-width: 800px){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .hero{
        grid-column: 1/-1;
    }
    .data{
        grid-column: 1/-1;
    }
    .weather{
        grid-column: 1/-1;
    }
}